html,
body {
    height: 100%;
}


#butterfly {
    height: 180px;
    width: auto;
    position: absolute;
}

#wateringcan {
    position: fixed;
    height: 125px;
    width: auto;
    bottom: 20%;
    left: 40%;
}


.waterdrop {
    height:10px;
    width: auto;
	position: absolute;
}

#net {
    height: 480px;
    width: auto;
    position: absolute;

}

.apple {
    height: 45px;
    width: auto;
    position: absolute;
}

#tree {
    position: fixed;
    width:auto;
    height:90%;
    bottom: 18px;
    left: 50%;

}

.basket {
    width: 180px;
    position: fixed;
    bottom: 18px;
    left: 20%;

}


body {
    margin: 0px;
    background-image: url("../images/grass.webp");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: bottom;
    overflow: hidden;
}
