html,
body {
    height: 100%;
}


#butterfly {
    height: 15%;
    width: auto;
    position: absolute;
}

#wateringcan {
    position: fixed;
    height: 17.5%;
    width: auto;
    bottom: 6%;
    left: 20%;
}


.waterdrop {
    height:5%;
    width: auto;
	position: absolute;
}

#net {
    height: 50%;
    width: auto;
    position: absolute;

}

.apple {
    height: 6%;
    width: auto;
    position: fixed;
    cursor: pointer;
    z-index: 1;
}

#tree {
    position: fixed;
    width:auto;
    height:90%;
    bottom: 15px;
    left: 50%;
    z-index: 0;
}

.basket {
    height:25%;
    width: auto;
    position: fixed;
    bottom: 15px;
    left: 50%;
    z-index: 0;
}
#basketfront {
    z-index: 2;
}

body {
    margin: 0px;
    background-image: url("../images/grass.webp");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: bottom;
    overflow: hidden;
}
